apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: classify
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 531220277611.dkr.ecr.ap-northeast-1.amazonaws.com/classify-frontend:latest
        ports:
        - containerPort: 3000
        env:
        - name: NEXT_PUBLIC_API_URL
          value: "http://k8s-classify-classify-42e5ab52fe-1471989583.ap-northeast-1.elb.amazonaws.com"
        - name: NEXTAUTH_URL
          value: "http://k8s-classify-classify-42e5ab52fe-1471989583.ap-northeast-1.elb.amazonaws.com"
        envFrom:
        - secretRef:
            name: classify-secrets
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: classify
spec:
  selector:
    app: frontend
  ports:
  - port: 3000
    targetPort: 3000
  type: ClusterIP
